@using BookReader.Domain.Entity

@model Book

@{
    ViewData["Title"] = "GetById";
}

      
        <p>@Model.Title</p> 
        <p>@Model.Author</p> 
        <p>@Model.Description</p> 
        <p>@Model.Price</p> 
        <p>@Model.Id</p>
        <p>@Model.Genre</p>
    

     
 




